@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playwrite+DE+Grund:wght@100..400&family=Playwrite+HR+Lijeva:wght@100..400&family=Rubik:ital,wght@0,300..900;1,300..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playwrite+DE+Grund:wght@100..400&family=Playwrite+HR+Lijeva:wght@100..400&family=Rubik:ital,wght@0,300..900;1,300..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    height: 100vh;
}

.header {
    grid-area: header;
    background-color: #bb3030;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed; /* Hace que la navbar se quede fija */
    top: 0; /* La fija en la parte superior */
    left: 0; /* La alinea a la izquierda */
    right: 0; /* La alinea a la derecha */
    z-index: 1000; /* Asegura que la navbar se muestre por encima de otros elementos */
}

.header-logo {
    height: 5.8rem;
    width: 17rem;
    margin-left: 1.3rem;
}

.header-search {
    padding: .6rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.header-nav {
    display: flex;
    gap: 1.5rem;
}

.nav-link {
    text-decoration: none;
    color: #ffffff;
    padding: 8px 16px;
    font-size: 1.5rem;
}

.nav-link:hover {
    background-color: #9c9595;
    border-radius: 0.7rem;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
    padding: 1rem;
    margin-top: 4rem;
}

.aside {
    background-color: #f4f4f4;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 1.8rem;
}

.aside-img-article {
    width: 100%;
    height: 50%;
    margin-bottom: 1rem;
}

.aside-article {
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.aside-article .aside-img-article {
    transition: transform 0.3s ease-in-out; /* Transición suave */
}

.aside-article .aside-img-article:hover {
    transform: scale(1.05); /* Escala la imagen a 1.5 veces su tamaño original */
    cursor: pointer;
}

.article-title {
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.section-content {
    margin-bottom: 1.5rem;
}

.article-content {
    font-size: 1rem;
    color: #333;
}

.main-section {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.section-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.additional-articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.1rem;
}

.main-article {
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
    transition: transform 0.3s ease-in-out; /* Transición suave para el hover */
}

.article-image {
    width: 100%;
    height: auto;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out; /* Transición suave para el hover */
}
.article-image:hover {
    transform: scale(1.05); /* Escala la imagen a 1.05 veces su tamaño original */
    cursor: pointer;
}
.footer {
    grid-area: footer;
    background-color: #bb3030;
    color: #ffffff;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.1rem;
    text-align: center;
    position: relative;
}
.footer-title{
    margin-bottom: 2rem;
}
.email-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.email-container {
    display: flex;
    align-items: center;
    gap: 1.1rem;
    margin-top: 4rem;
}

.email-input {
    padding: 0.7rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.email-button {
    padding: 1rem;
    border: none;
    background-color: #ffffff;
    color: #bb3030;
    border-radius: 4px;
    cursor: pointer;
}

.email-button:hover {
    background-color: #ddd;
}

.map {
    position: relative;
}
.map h1{
    margin-bottom: 1rem;
    margin-left: 2.5rem;
}

.map-iframe {
    width: 100%;
    height: 10rem;
    border: none;
    margin-left: 2.5rem;
    margin-top: 2rem;
}

.social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.social-link {
    text-decoration: none;
    color: #ffffff; 
}

.social-icon {
    width: 10%;
}
.footer-rights {
    text-align: center;
}