*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    width: 35rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
    
    margin-left: 18em;
    margin-right: auto;
}

.card img {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.5em;
    margin: 0 0 10px;
}

.card-description {
    font-size: 1em;
    margin: 0 0 10px;
    color: #555;
}

.card-price {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}